body, ul, li, p, tr, td, th, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none none;
}

table {
	border-collapse: collapse;
}

/*** csscreator hack ***/
.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
	
   .floatcontainer{display: inline-block;} 

    /* Hides from IE Mac */
    * html .floatcontainer {height: 1%;}
       .floatcontainer{display:block;}
    /* End Hack */ 
/****************/

/**** General ****/
button {
	background-color: #EEE;
	border: 1px solid #BBB;
}

.selected {
	background-color: #a7d6f1;
}

/**** Columns ****/
.leftColumn {
	width: 200px;
	height: 650px;
	overflow: auto;
	float: left;
}

.rightColumn {
	float: left;
	width: 1050px;
}

/**** Toolbar ****/
.toolbar {
	border: 1px solid #000;
}

/**** SmallLoading ****/
.smallLoading {
	position: fixed;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background-image: url( 'images/ajax-loader.gif' );
}

/**** TorrentTableHolder ****/
.torrentTableHolder {
	width 80%;
	height: 300px;
	overflow: auto;
}

/**** TorrentTable ****/
.torrentTable {
	
}

/**** Torrent ****/
.torrentTable td {
	background-color: #FFFBF0;
}

.torrentTable td, .torrentTable th {
	padding: 3px 5px;
	white-space: nowrap;
	border: 1px solid #697774;
}

.torrentTable th {
	background-color: #B8B6B2;
	border-bottom-width: 2px;
}

/**** DetailsTabs ****/
.detailsTabs {
	padding-top: 5px;
	
}

.detailsTabs li {
	margin-left: 3px;
	padding: 2px;
	float: left;
	border: 1px solid #999;
}

.detailsTabs li.selected {
	border-bottom: 0px;

}
/**** DetailsHolder ****/
.detailsHolder {
	border: 1px solid #000;
}

/**** Preference ****/
.preference {
	border: 1px solid #000;
	background-color: #CCC;
	position: absolute;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 100px;
	padding: 10px;
}

/**** AddTorrentPref ****/
.addTorrentPref input[type="text"] {
	width: 70%;
}

/**** CookiesPref ****/
.cookiesPref textarea {
	width: 100%;
	height: 300px;

}

/**** SelectFolderInput ****/
.browser {
	position: absolute;
	height: 200px;
	min-width: 300px;
	background-color: #CCC;
	border: 1px solid #000;
	overflow: auto;
}

.browser li {
	padding: 0 5px;
	cursor: pointer
	overflow: auto;
}

.browser li:hover {
	background-color: #AAA;
}

/**** TorrentDetails ****/
.torrentDetails {
	overflow: auto;
	padding: 5px;
}

.torrentDetails .transfersCol {
	float: left;
	width: 345px;
}

.torrentDetails .torrentLeft {
	float: left;
	width: 600px;
}

.torrentDetails .torrentRight {
	float: left;
	width: 400px;
}

/**** TorrentDetailsInfo ****/
.torrentDetailsInfo .label {
	float: left;
	width: 120px;
}

.torrentDetailsInfo .value {
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.transfersCol .torrentDetailsInfo .value {
	width: 220px;
}

/**** Divider ****/
.divider {
	height: 10px;
	background-color: #000;
}

/**** Panel ****/
.panel li:hover {
	background-color: #79a5ff;
}

/**** Preferences ****/
.preference {
	padding-top: 30px;
}

button.closePrefButton {
	position: absolute;
	right: 2px;
	top: 2px;
}


